%animationOpacity-0 {
	opacity: 0;
	transition: all 1.2s linear;
}

%animationOpacity-1 {
	opacity: 1;
	transition: all 1.2s linear;
}

%show {
	opacity: 1;
}

%hide {
	opacity: 0;
}

.animation-monk-start {
	width: 100%;
	transform-origin: center;
	transform: translateY(0);
	transition: all 1s linear;
}

.animation-monk-end {
	width: 80%;
	transform: translateY(-5rem);
}

.animation-text-start {
	display: none;
	@extend %animationOpacity-0;
}

.animation-text-start {
	display: block;
	@extend %animationOpacity-0;
}

.animation-text-end {
	@extend %show;
}

.animation-salutation-start {
	@extend %animationOpacity-1;
}

.animation-salutation-end {
	@extend %hide;
}

.animation-advice-start {
	@extend %animationOpacity-0;
}

.animation-advice-end {
	@extend %show;
}
