.animation-monge-start {
	width: 100%;
	transform-origin: center;
	transform: translateY(0);
	transition: all 1s linear;
}

.animation-monge-end {
	width: 80%;
	transform: translateY(-5rem);
}

.animation-text-start {
	display: none;
	opacity: 0;
	transition: all 1 linear;
}

.animation-text-start {
	display: block;
	opacity: 0;
	transition: all 1.2s linear;
}

.animation-text-end {
	opacity: 1;
}
